<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" crossorigin="anonymous">

    <!-- Material design lite-->
    <link rel="stylesheet" href="https://code.getmdl.io/1.3.0/material.teal-light_green.min.css" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="assets/css/style.css" />


    <title>M-GENERATOR</title>
</head>

<body>
    <section class="home-content">
        <div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
            <header class="mdl-layout__header">
                <div class="mdl-layout__header-row">
                    <!-- Title -->
                    <span class="mdl-layout-title">M-GENERATOR</span>
                    <!-- Add spacer, to align navigation to the right -->
                    <div class="mdl-layout-spacer"></div>
                    <!-- Navigation. We hide it in small screens. -->
                    <nav class="mdl-navigation mdl-layout--large-screen-only">
                        <a class="mdl-navigation__link" href="">
                            <img src="assets/medias/m-feu.png" alt="logo-mgenerator" width="100px" height: "auto"/>
                        </a>
                    </nav>
                </div>
            </header>
            <div class="mdl-layout__drawer">
                <span class="mdl-layout-title">M-GENERATOR</span>
                <nav class="mdl-navigation">
                    <a class="mdl-navigation__link" href="">Crée ton mème</a>
                    <a class="mdl-navigation__link" href="">Top 100 mèmes</a>
                    <a class="mdl-navigation__link" href="">Mon compte / inscription</a>
                </nav>
            </div>
            <main class="mdl-layout__content">
                <div class="page-content">
                    <!-- Your content goes here -->
                </div>
            </main>
        </div>

        <section class="roulette">
            <div class="grid">
                <div class="grid-row top">
                    <div class="grid-box">
                        <div class="hexagon">
                            <img src="assets/medias/food.png" width="140px" />
                        </div>
                    </div>
                    <div class="grid-box">
                        <div class="hexagon">
                            <img src="assets/medias/vip.png" width="140px" />
                        </div>
                    </div>
                </div>
                <div class="grid-row">
                    <div class="grid-box">
                        <div class="hexagon">
                            <img src="assets/medias/sport.png" width="140px" />
                        </div>
                    </div>
                    <div class="grid-box">
                        <div class="hexagon big">
                            <img src="assets/medias/hexa-center.png" width="250px" />
                        </div>
                    </div>
                    <div class="grid-box">
                        <div class="hexagon">
                            <img src="assets/medias/gaming.png" width="140px" />
                        </div>
                    </div>
                </div>
                <div class="grid-row bottom">
                    <div class="grid-box">
                        <div class="hexagon">
                            <img src="assets/medias/movie.png" width="140px" />
                        </div>
                    </div>
                    <div class="grid-box">
                        <div class="hexagon">
                            <img src="assets/medias/animal.png" width="140px" />
                        </div>
                    </div>
                </div>
            </div>
        </section>
        {%block content%}{%endblock%}

        <div class="last"></div>
    </section>

    <!-- <svg version="1.1" id="Calque_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
        width="640px" height="480px" viewBox="0 0 640 480" enable-background="new 0 0 640 480" xml:space="preserve">
        <polygon fill="#FFFFFF" points="171.225,353 92.407,216 171.225,79 328.862,79 407.681,216 328.862,353 " />
    </svg> -->







    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js" integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T"
        crossorigin="anonymous"></script>
    <!-- Material Design JS-->
    <script defer src="https://code.getmdl.io/1.3.0/material.min.js"></script>
    <script src="assets/js/main.js"></script>
</body>

</html>