#frame{
/*    width: 50%;*/
    position: relative;
}

#textoverimage{
    width: 50%;
    height: 150px;
    padding:5px 10px 10px;
    font-size: 30px;
    border: 1px solid black;
    font-family: "Arial Black", "Ubuntu";
    color: white;
    font: bold;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
    margin-top: -200px;
    position: absolute;
    overflow-wrap: break-word;
}