body{
    width: 100vw;
    height: 100vh;
}

#frame{
/*    width: 50%;*/
    position: relative;
    width: 100vw;
    height: auto;
}

#textoverimage{
    width: 100vw;
    height: 20%;
    padding:5px 10px 10px;
    /* border: 1px solid black; */
    margin-top: -128px;
    position: absolute;
    overflow-wrap: break-word;
}

#paragraphe{
    font-size: 2em;
    font-family: "Arial Black", "Ubuntu";
    color: white;
    font: bolder;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
    text-align: center;
}

.apercu{

	height: 350px;
}

.content-miniature{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 80%;
    margin: auto;    
}

.miniature{
    width: 120px;
    height: 120px;
    margin-bottom: 1em;
    border-radius: 100%;


}